<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand" style="color:#fff">
    <%= pageTitle %>
  </span>
  <div class="ml-auto">
    <a href="/logout" class="text-white">Keluar</a>
  </div>
</nav>
