<% include ../partials/header %>
<div class="container-fluid py-3">
  <div class="row">
    <div class="col s12">
      <a href="/event/add" class="btn btn-success">
        Add a New Event
      </a>
    </div>
  </div>
  <% include ../partials/list %>
</div>
<% include ../partials/footer %>